@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  font-family: "Poppins", monospace;
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

h1, h2, h3, p, div, article {
  color: rgb(194, 197, 170);
}

a {
  color: rgb(147, 102, 57);
  text-decoration: none;
}

nav {
  width: 100vw;
}

@keyframes flip {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
.homeBtn a svg {
  padding: 0;
  width: 3em;
  height: 3em;
}

.homeBtn a svg:hover {
  animation: flip 2s infinite;
}

.homeBtn a:hover {
  background-color: rgb(127, 79, 36);
}

ul {
  list-style: none;
  background-color: rgb(127, 79, 36);
}
ul li {
  display: inline-block;
  position: relative;
}
ul li a {
  display: block;
  padding: 1em 1.2em;
  text-align: center;
  font-size: 1.2em;
  color: rgb(194, 197, 170);
}
ul li a:hover {
  background-color: rgb(88, 47, 14);
}
ul li .dropdown {
  width: 100%;
  background-color: rgb(127, 79, 36);
  position: absolute;
  z-index: 999;
  display: none;
}
ul li .dropdown li {
  display: block;
}
@keyframes list {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
ul li:hover .dropdown {
  display: block;
  animation: list 0.4s;
}

body {
  background: url(./img/delicious-american-beer-arrangement.jpg) rgb(198, 158, 118);
  background-size: 100vw;
  background-position-y: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#LandingHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 94vh;
  width: 100vw;
}

#Gallery {
  width: 100vw;
  display: grid;
  padding: 3em;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: auto;
  gap: 0.4em;
}
#Gallery .gallery_item {
  border: 2px solid rgb(80, 41, 2);
}
#Gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery_lightbox:target {
  transform: scale(1, 1);
}

.gallery_lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0, 0);
  transition: transform ease-in 100ms;
}
.gallery_lightbox .gallery_lightbox_content {
  width: 75%;
  height: 75%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.gallery_lightbox .gallery_lightbox_content .close_lightbox {
  position: absolute;
  width: 3em;
  height: 3em;
  transform: scale(1);
  transition: transform ease-in-out 50ms;
  background: rgba(9, 8, 8, 0.333);
  top: -1em;
  right: -1em;
  border-radius: 50%;
  text-decoration: none;
  color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery_lightbox .gallery_lightbox_content .close_lightbox:hover {
  background: rgba(9, 8, 8, 0.766);
  transform: scale(1.2);
}
.gallery_lightbox footer {
  font-size: 1em;
  background-color: rgba(6, 6, 6, 0.794);
}
.gallery_lightbox footer a {
  font-size: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.wide_image {
  grid-column: span 2/auto;
}

.tall_image {
  grid-row: span 2/auto;
}

.huge_image {
  grid-column: span 3/auto;
  grid-row: span 3/auto;
}/*# sourceMappingURL=style.css.map */